[tool.black]
line-length = 120
target-version = ["py39", "py310", "py311", "py312"]
exclude = '''
/(
    __pycache__
    | \.pyc
    | \.git
    | \.pytest_cache
    | \.venv
    | venv
)/
'''

[tool.isort]
profile = "black"
line_length = 120
